{% extends 'base.html.twig' %}

{% block title %}{% trans %}Actualités{% endtrans %}{% endblock %}

{% block body %}
<section>
    <h1>{% trans %}Actualités{% endtrans %}</h1>
    <div>
        <h2>{% trans %}Publié le{% endtrans %} {{ newsletter.newCreatedAt|date('Y-m-d') }}</h2>
        <p>
            {% if attribute(newsletter, 'newContent'~app.request.locale|capitalize) is not empty %}
                {{ attribute(newsletter, 'newContent'~app.request.locale|capitalize) }}
            {% else %}
                {{ newsletter.newContentFr }}
            {% endif %}
        </p>
    </div>
</section>
{% endblock %}
