{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mise à jour de la nouvelle{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Mise à jour de la nouvelle{% endtrans %}</h1>

    {{ include('newsletter/_form.html.twig', {'button_label': 'Editer'}) }}

    {{ include('newsletter/_delete_form.html.twig') }}

{% endblock %}
