<h1>{% trans %}Bonjour ! Voici votre lien de récupération.{% endtrans %}</h1>

<p>
    {% trans %}Vous trouverez ci-dessous le lien de récupération que vous avez demandé :{% endtrans %} <br><br>
    <a href="{{ loginLink }}">{% trans %}Récupérer mon compte{% endtrans %}</a>.<br>
    {% trans %}Ce lien expirera dans 5 minutes.{% endtrans %}<br>
    {% trans %}Si vous n'êtes pas à l'origine de cette opération, ne tenez pas compte de cet email.{% endtrans %}
</p>

<p>
    {% trans %}Au revoir !{% endtrans %}
</p>
