{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modification du mot de passe{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Modification du mot de passe{% endtrans %}</h1>

    {{ include('registration/_form_password.html.twig', {'button_label': 'Modifier'}) }}
    
{% endblock %}
