.custom-shape-divider-top-1642634634 {
    position: relative;
    top: -230px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -100px;
    /* background-image: none, url('/images/ext.jpg'); */
}

.custom-shape-divider-top-1642634634 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 230px;
}

.custom-shape-divider-top-1642634634 .shape-fill {
    fill: white;
}
