/* Relatif au composant title a supprimer quand tous le twig aura été converti en vue.js */
.title-section {
  border-radius: 20px 20px 0% 0%;
  border: 0;
}
.title-section::before {
content: "";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1rem solid rgba(246,144,0,1);
  border-left: 0.5rem solid rgba(246,144,0,1);
  margin-right: 10px;
}
.title-section::after {
content: "";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 1rem solid rgba(246,144,0,1);
  border-right: 0.5rem solid rgba(246,144,0,1);
  margin-left: 10px;
}



  
/* Relatif au composant carte verticale a supprimer quand tous le twig aura été converti en vue.js */
.v-card, .v-card article {
  transition: all 0.4s;
}
.v-card .card, .v-card article .card-img-overlay{
  border-radius: 1rem;
}
.v-card article img {
  border-radius: 1rem 1rem 0rem 0rem;
}
.v-card article .card-body {
  z-index: 1;
}

/* Partie cachée */
.hidden-button {
    border-radius: 30px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s;
}
.hidden-background {
  background: linear-gradient(145deg, #ef8c00, #f6be00);
    opacity: 0;
    transition: all 0.4s;
}

/* Au survol */
.v-card article:hover {
  transform: scale(1.03);
}
.v-card .card:hover .hidden-background {
    opacity: 0.7;
    
}
.v-card .card:hover .hidden-button {
    opacity: 1;
    transform: translateY(0px);
}

/* Version mobile : au toucher */
.v-card article:active {
  transform: scale(1.03);
}
.v-card .card:active .hidden-button {
    opacity: 1;
    transform: translateY(0px);
}
.v-card .card:active .hidden-background {
    opacity: 0.7;
}




/* Relatif au composant carte horizontale a supprimer quand tous le twig aura été converti en vue.js */
.h-card {
  border-radius: 1rem 1rem 1rem 1rem;
  transition: all 0.4s;
  /* scale: 0.95; */
}

.h-card:hover {
  transform: scale(1.03);
}

/* Au survol */
.v-card article:hover {
  transform: scale(1.03);
}
.v-card .card:hover .hidden-background {
    opacity: 0.7;
    
}
.v-card .card:hover .hidden-button {
    opacity: 1;
    transform: translateY(0px);
}

/* Version mobile : au toucher */
.v-card article:active {
  transform: scale(1.03);
}
.v-card .card:active .hidden-button {
    opacity: 1;
    transform: translateY(0px);
}
.v-card .card:active .hidden-background {
    opacity: 0.7;
}

/* Effet sur titre */
.title {
  border-style: solid;
  border-width: 0 0 0.3rem 0;
  width:100%;
  border-image: linear-gradient(45deg, rgba(172,66,255,1) 0%, rgba(246,144,0,1)) 1;
}






/* Relatif à la pagination */
.page-link {
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .page-link {
    padding: 0.6rem;
  }
}





@media screen and (min-width: 576px) {
  .ckeditor {
    border-radius: 1rem;
  }
}
