<form class="text-center" method="post" action="{{ path('opinion_delete', {'locale': app.request.locale, 'id': datas.survey.id}) }}" onsubmit="return confirm('{% trans %}Etes-vous sure de vouloir supprimer votre opinion ?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datas.survey.id) }}">
    <button class="btn btn-outline-primary">{% trans %}Supprimer son opinion{% endtrans %}</button>
</form>
