<form class="d-flex" method="post" action="{{ path('surveys_delete', {'locale': app.request.locale, 'id': datas.survey.id}) }}" onsubmit="return confirm('{% trans %}Etes-vous sure de vouloir supprimer cet élément ?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datas.survey.id) }}">
    <button class="btn btn-outline-danger">{% trans %}Supprimer{% endtrans %}</button>
</form>
