<form class="text-center" method="post" action="{{ path('ballot_delete', {'locale': app.request.locale, 'id': datas.vote.id}) }}" onsubmit="return confirm('{% trans %}Etes-vous sure de vouloir supprimer cet élément ?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datas.vote.id) }}">
    <button class="btn btn-outline-primary">{% trans %}Supprimer son vote{% endtrans %}</button>
</form>
