<form method="post" action="{{ path('article_delete', {'locale': app.request.locale, 'id': article.id}) }}" onsubmit="return confirm('{% trans %}Etes-vous sure de vouloir supprimer cet élément ?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-primary">{% trans %}Supprimer{% endtrans %}</button>
</form>
