<form class="d-flex" method="post" action="{{ path('article_delete', {'locale': app.request.locale, 'id': datas.article.id}) }}" onsubmit="return confirm('{% trans %}Etes-vous sure de vouloir supprimer cet élément ?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datas.article.id) }}">
    <button class="btn btn-outline-danger">{% trans %}Supprimer{% endtrans %}</button>
</form>
