{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mise à jour de l'article{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Mise à jour de l'article{% endtrans %}</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Editer'}) }}

    {{ include('article/_delete_form.html.twig') }}
    
{% endblock %}
