{% extends 'base.html.twig' %}

{% block title %}{% trans %}Evènements{% endtrans %}{% endblock %}

{% block body %}
<section class="container">
	<div class="mb-5">
		<h1 class="text-center text-dark title-section">{% trans %}Evènements{% endtrans %}</h1>
	</div>
	<div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">
		{% for card in datas.cards %}
			{{ include('components/v_card_from_to.html.twig') }}
		{% endfor %}
	</div>
</section>
{{ include('components/pagination.html.twig') }}
{% endblock %}
