{% extends 'base.html.twig' %}

{% block title %}Creation d'événement{% endblock %}

{% block body %}
    <h1>Creation d'événement</h1>

    {{ include('events/_form.html.twig', {'button_label': 'Créer'}) }}

{% endblock %}
