<h1>Bonjour.</h1>

<p>
    Nous sommes désolé de vous informer que votre compte a été supprimé par notre équipe.<br>
    Les données stockées sur le site ont été supprimées et ne sont pas récupérables, cela concerne le compte associé à l'email : {{ userEmail }}.<br><br>
    Si vous n'êtes pas concerné par cet email, n'en tenez pas compte.
</p>

<p>
    Au revoir.
</p><br><br><br><br>

<h1>Hello.</h1>

<p>
    We are sorry to inform you that your account has been removed by our team.<br>
    The datas stored on the website have been removed and are not recoverable, this concerns the associated account to the email : {{ userEmail }}.<br><br>
    If you're not concerned by this email, just ignore it.
</p>

<p>
    Goodbye.