<h1>Bonjour.</h1>

<p>
    Nous sommes désolé de vous informer que vous ne faites désormais plus partie de l'équipe qui gère le site de la commune.<br>
    Votre compte n'a pas été supprimé et vous pouvez continuer de l'utiliser sur le site comme tout autre membre inscrit avec votre email : {{ userEmail }}.<br><br>
    Si vous n'êtes pas concerné par cet email, n'en tenez pas compte.
</p>

<p>
    Au revoir.
</p><br><br><br><br>

<h1>Hello.</h1>

<p>
    We are sorry to inform you that you're no longer part of the team that works on the website.<br>
    Your account has not been removed and you can use it on the website as any other registered member with the email : {{ userEmail }}.<br><br>
    If you're not concerned by this email, just ignore it.
</p>

<p>
    Goodbye.
</p>
