<h1>Bonjour ! Bravo pour les élections !</h1>

<p>
    Nous vous informons que vous avez désormais la fonction de maire sur le site.<br>
    Veuillez vous connecter avec votre email : {{ userEmail }}.<br>
    Ensuite acceptez les conditions d'utilisation des employés pour accéder à toutes les fonctionnalités (si ce n'est pas déja fait).<br><br>
    Si vous n'êtes pas concerné par cet email, n'en tenez pas compte.
</p>

<p>
    Au revoir !
</p><br><br><br><br>

<h1>Hello ! Bravo for elections !</h1>

<p>
    We inform you that you now have the function of mayor on the website.<br>
    Please sign in with your email : {{ userEmail }}.<br>
    Then accept the employee terms of use for accessing all features (if not ever made).<br><br>
    If you're not concerned by this email, just ignore it.
</p>

<p>
    Au revoir !
</p>
