<h1>{% trans %}Bonjour !{% endtrans %}</h1>

<p>
    {% trans %}Nous vous informons que nous vous avons choisi pour faire partie de l'équipe qui gère le site de la commune.{% endtrans %}<br>
    {% trans %}Veuillez vous connecter avec votre email :{% endtrans %} {{ userEmail }}.<br>
    {% trans %}Ensuite acceptez les conditions d'utilisation des employés pour accéder aux fonctionnalités associées.{% endtrans %}<br><br>
    {% trans %}Si vous n'êtes pas à l'origine de cette opération, ne tenez pas compte de cet email.{% endtrans %}
</p>

<p>
    {% trans %}Au revoir !{% endtrans %}
</p>
